{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  // Define your URLs here.
  var add_image_url = "{{=URL('api', 'add_image', user_signature=True)}}";
  var user_images_url = "{{=URL('api', 'get_user_images', user_signature=True)}}";
  var get_users_url = "{{=URL('api', 'get_users', user_signature=True)}}";
  
</script>

{{end}}

<div class="main_content">
  {{if auth.user is not None:}}
  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    <div class="container padded">
      <div class="image_space threequarters">
        <!-- Left part of the page -->
        <div v-if="self_page">
          <!-- Code to upload files, with control buttons -->
          <div id="uploader_div" style="display:none">
            Upload an image file: <input id="file_input" type="file" v-on:change="upload_file" accept="image/jpeg">
          </div>

          <button v-if="!is_uploading" v-on:click="open_uploader"><i class="fa fa-plus"></i></button>
          <button v-if="is_uploading"  v-on:click="close_uploader">Cancel</button>
        </div>

        <div class="image_container">
          <!-- Put here the code to display the images -->

          <ul class="container">
            <li v-for="image in imagelist" class="card lifted padded quarter">
                <img v-bind:src="image.image_url" 
                    height="200px" width="200px" class="padded"/>
            </li>
            <li v-if="selection != -1" v-show="imagelist.length == 0">
                There's nothing in this user's gallery
            </li>
            <li v-if="selection == -1" >Select a gallery to view images<li>
          </ul>
        </div>
      </div>

      <div class="user_space quarter right">
        <!-- Right part of the page -->
        <table class="fill" id="user_selector">
          <tbody>
            <tr v-for="user in userlist" class="center">
              <td v-on:click="get_user_images(user.id)" >${user.first_name} ${user.last_name}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{else:}}
  <div>
    <h1>Please Log In</h1>
    <h2>This image platform requires an account</h2>
    <a href="{{=URL('default', 'user')}}" class="btn">Log in!</a>
    <a href="{{=URL('default', 'user')}}/register" class="btn">Sign up!</a>
  </div>
  {{pass}}

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>